@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@700&family=Poppins:wght@500;700&display=swap");
*, ::before {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: auto;
}

.phone {
  display: none;
}

.Header {
  display: flex;
  flex-direction: row;
  margin-left: 11.5%;
  margin-right: 6.5%;
  width: auto;
}
.Header .ham {
  display: none;
}
.Header .to-the-end {
  margin-left: 37%;
  margin-top: 30px;
  color: #9E9AA8;
  font-size: 15px;
  font-weight: 700;
}
.Header .to-the-end button:hover {
  background-color: #9AE3E3;
  border: 2px solid #9AE3E3;
}
.Header .to-the-end #login {
  background-color: #FFF;
  color: #9E9AAf;
  border: 2px solid #fff;
  font-size: 15px;
}
.Header .to-the-end #login:hover {
  color: black;
}
.Header .list {
  margin-top: 39px;
  color: #9E9AA8;
  font-size: 15px;
  font-weight: 700;
}
.Header img {
  padding-top: 30px;
}
.Header ul, .Header li {
  padding-left: 15px;
  list-style-type: none;
  display: inline-block;
  text-align: center;
}
.Header button {
  background-color: #2BD0D0;
  color: #FFF;
  border-radius: 40px;
  padding: 9px 25px 9px 25px;
  border: 2px solid #2BD0D0;
  font-weight: 700;
  cursor: pointer;
}
.Header .hover {
  background-color: #FFF;
  border: 2px solid #fff;
  color: #9E9AAf;
  font-weight: 700;
  font-size: 17px;
  padding: 0px;
}
.Header .hover:hover {
  color: black;
}

/*
button{

           background-color: #2BD0D0;
           width: 197px;
           height: 56px;
           font-size: 20px;
           line-height: 30px;
            }
*/
.footer {
  margin-top: 500px;
  display: grid;
  grid-template-columns: 1.5fr 0.7fr 0.7fr 0.7fr 1fr;
  grid-template-rows: 1fr;
  background-color: #232127;
  color: #FFF;
  margin: auto;
  justify-content: center;
  padding-bottom: 55px;
}
.footer ul, .footer li {
  font-size: 15px;
  font-weight: 500;
  color: #BFBFBF;
  list-style-type: none;
  justify-content: flex-start;
  padding-left: 0px;
  padding-top: 10px;
}
.footer ul button, .footer li button {
  font-size: 17px;
  font-weight: 500;
  color: #BFBFBF;
  list-style-type: none;
  justify-content: flex-start;
  padding-left: 0px;
  padding-top: 0px;
  background-color: #232127;
  border: 2px solid #232127;
}
.footer ul button:hover, .footer li button:hover {
  color: #9AE3E3;
  border: 2px solid #232127;
}
.footer ul a:hover, .footer li a:hover {
  background-color: #2BD0D0;
}
.footer .footer-list-flex {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  justify-items: center;
  margin-top: 30px;
}
.footer .footer-list-flex li {
  padding-left: 15px;
}
.footer article {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.boost {
  background-image: url(./images/bg-boost-desktop.svg);
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #3A3054;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 0%;
}
.boost .center {
  margin: auto;
}
.boost h2 {
  font-weight: 700;
  color: #FFF;
  font-size: 40px;
}
.boost .margin {
  margin-left: 30%;
  margin-top: 25px;
}
.boost button {
  border-radius: 40px;
  border: 2px solid #2BD0D0;
  padding: 10px 25px 10px 25px;
  cursor: pointer;
  background-color: #2BD0D0;
  color: #FFF;
  width: 197px;
  height: 56px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
.boost button:hover {
  background-color: #9AE3E3;
  border: 2px solid #9AE3E3;
}

.statistics {
  background-color: #F2F2F2;
  align-items: center;
  position: relative;
  z-index: -1;
}
.statistics .center {
  padding-top: 100px;
  text-align: center;
}
.statistics h2 {
  color: #34313D;
  font-size: 40px;
}
.statistics .para {
  font-size: 18px;
  margin: auto;
  text-align: center;
  width: 550px;
  color: #9E9AA8;
  line-height: 32px;
}
.statistics p {
  color: #9E9AA8;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  padding-top: 20px;
  width: 286px;
}
.statistics .padding {
  padding-bottom: 120px;
  margin-left: 11.5%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 25px;
  margin-top: 15px;
}
.statistics .padding article:nth-child(4) {
  transform: translateY(4.5rem);
}
.statistics .padding article:nth-child(3) {
  transform: translateY(2rem);
}
.statistics .art {
  background-color: #FFF;
  margin-bottom: 50px;
  margin-top: 30px;
  padding: 10px 10px 49px 30px;
  font-size: 15px;
}
.statistics .image {
  background-color: #3A3054;
  padding: 5px;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: -40px;
}
.statistics img {
  width: 50px;
  height: 50px;
}
.statistics .line {
  max-width: 1100px;
  width: 1000px;
  height: 7px;
  background-color: #2BD0D0;
  position: absolute;
  top: 58%;
}
.statistics .relative {
  position: relative;
}

.more {
  display: flex;
  margin-left: 11.5%;
  margin-bottom: 1%;
  margin-top: 3%;
  overflow: hidden;
}
.more h1 {
  padding-top: 65px;
  font-size: 5vw;
  color: #34313D;
  padding-bottom: 20px;
  font-weight: 700;
  line-height: 90px;
}
.more p {
  font-size: 22px;
  color: #9E9AA8;
  padding-bottom: 25px;
  width: 500px;
  font-weight: 500;
}
.more button {
  border-radius: 40px;
  border: 2px solid #2BD0D0;
  padding: 10px 25px 10px 25px;
  cursor: pointer;
  background-color: #2BD0D0;
  color: #FFF;
  width: 197px;
  height: 56px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
.more button:hover {
  background-color: #9AE3E3;
  border: 2px solid #9AE3E3;
}
.more img {
  max-width: 733px;
  position: relative;
  left: 80px;
}

.copy {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: #FFF;
  top: 60px;
  border-radius: 7px;
  width: 1000px;
}
.copy hr {
  display: none;
}

.info {
  z-index: -1;
  margin-top: 70px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 11.5%;
  padding-right: 22vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F2F2F2;
  margin-top: 10px;
  text-align: center;
}
.info ul, .info li {
  list-style-type: none;
}

.short_flex {
  display: flex;
  flex-direction: row;
}
.short_flex button {
  margin-right: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: #2BD0D0;
  border: 2px solid #2BD0D0;
  border-radius: 15px;
  padding: 5px 15px;
  cursor: pointer;
  color: #fff;
}
.short_flex button:hover {
  background-color: #9AE3E3;
  border: 2px solid #9AE3E3;
}
.short_flex button:focus {
  background-color: #34313D;
  border: 2px solid #34313D;
}
.short_flex #short {
  background-color: #FFF;
  border: #FFF;
  cursor: pointer;
  color: #2BD0D0;
}
.short_flex #short:hover {
  color: #2BD0D0;
}

.div_info {
  margin-top: 5px;
  margin-left: 25px;
}

.shortener {
  position: relative;
  bottom: -70px;
  z-index: 1;
  background-image: url(./images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #3A3054;
  max-width: 1000px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-left: 11.5%;
  margin-right: 9%;
  padding: 50px;
  padding-right: 35px;
  padding-bottom: 90px;
  overflow: hidden;
  border-radius: 10px;
}
.shortener .short_flexing {
  flex-direction: column;
  font-style: italic;
}
.shortener input {
  width: 700px;
  border-radius: 10px;
  font-size: 20px;
  color: #9E9AA8;
  height: 40px;
}
.shortener #input {
  border: 2px solid black;
}
.shortener #notinput {
  border: 2px solid #F46363;
}
.shortener button {
  margin-left: 25px;
  width: 200px;
  padding: 10px 35px 10px 35px;
  background-color: #2BD0D0;
  color: #FFF;
  border-radius: 10px;
  border: 2px solid #2BD0D0;
  font-weight: 700;
  cursor: pointer;
  height: 45px;
}
.shortener button:hover {
  background-color: #9AE3E3;
  border: 2px solid #9AE3E3;
}

@media screen and (max-width: 1500px) {
  .info {
    margin-right: 0px;
  }
  .copy {
    width: 1000px;
  }
}
@media screen and (max-width: 1300px) {
  .Header {
    margin-right: 5%;
  }
  .Header .to-the-end {
    margin-left: 18vw;
  }
  .more h1 {
    font-size: 5vw;
    line-height: normal;
    width: auto;
  }
  .more img {
    max-width: 55vw;
  }
  .more p {
    font-size: 2vw;
    width: auto;
  }
  .statistics .padding {
    grid-template-columns: 25vw 25vw 25vw;
  }
  .statistics .line {
    width: 60vw;
  }
  .statistics p {
    width: 20vw;
    font-size: 16px;
  }
  .statistics .para {
    font-size: 19px;
  }
  .shortener button {
    margin: 0px;
    margin-right: 35px;
    margin-left: 25px;
    font-size: 1.4vw;
  }
  .shortener input {
    margin: 0px;
    width: 50vw;
    padding-left: 0px;
  }
  .info {
    margin-right: 0px;
  }
  .copy {
    width: 120%;
  }
}
@media screen and (max-width: 999px) {
  .Header {
    justify-content: space-between;
  }
  .Header .to-the-end {
    margin-left: 8vw;
  }
  .Header .ham {
    display: none;
  }
  .more h1 {
    padding-top: 65px;
    font-size: 5vw;
    line-height: normal;
  }
  .more p {
    font-size: 2.1vw;
    color: #9E9AA8;
    padding-bottom: 25px;
    width: auto;
    font-weight: 500;
  }
  .more button {
    padding: 10px 25px 10px 25px;
    cursor: pointer;
    width: 22vw;
    height: 7vw;
    font-size: 2.5vw;
    line-height: normal;
  }
  .shortener {
    margin-left: 11%;
    padding-left: 25px;
    margin-right: 12%;
    padding-right: 18px;
  }
  .shortener input {
    width: 47vw;
  }
  .info {
    margin-right: 0px;
  }
  .copy {
    width: 115%;
  }
}
@media screen and (max-width: 870px) {
  .Header .to-the-end {
    margin-left: 0px;
  }
  .info {
    margin-right: 0px;
  }
  .copy {
    width: 115%;
  }
}
@media screen and (max-width: 785px) {
  .Header .list {
    display: none;
  }
  .Header .to-the-end {
    display: none;
  }
  .Header .ham {
    display: contents;
  }
  .Header .ham button {
    background-color: #FFF;
    border: #FFF;
  }
  .phone {
    display: block;
    line-height: 2.5;
    position: absolute;
    width: 89%;
    padding: 70px;
    margin-left: 40px;
    border-radius: 20px;
    z-index: 1;
    text-align: center;
    background-color: #3A3054;
    color: #FFF;
    font-weight: 700;
    font-size: larger;
  }
  .phone ul, .phone li {
    list-style-type: none;
    padding-left: 0px;
  }
  .phone .phoneLine {
    background-color: #9E9AA8;
    height: 1px;
    width: 100%;
  }
  .phone button {
    background-color: #2BD0D0;
    border-radius: 20px;
    font-size: larger;
    color: #FFF;
    padding: 5px 85px 5px 85px;
    border: #2BD0D0;
    font-weight: 700;
  }
  .more {
    flex-direction: column-reverse;
    text-align: center;
  }
  .more img {
    position: relative;
    left: 10%;
    max-width: none;
    width: 100vw;
    height: 80vw;
  }
  .more p {
    max-width: 600px;
    font-size: 22px;
    margin-right: 45px;
    line-height: 1.5;
  }
  .more h1 {
    width: auto;
    font-size: 40px;
    margin-right: 10%;
  }
  .more button {
    margin-right: 60px;
    font-size: 2.4vw;
    width: 170px;
  }
  .shortener {
    padding-bottom: 123px;
    height: 160px;
    padding-left: 0px;
    padding-top: 25px;
    display: grid;
    grid-gap: 10px;
    padding-bottom: 130px;
    padding-right: 1px;
    padding-top: 3vw;
    margin-right: 11%;
    margin-left: 10%;
  }
  .shortener p {
    font-size: 15px;
  }
  .shortener input {
    width: 70vw;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 2.8vw;
    height: 50px;
  }
  .shortener button {
    width: 70vw;
    margin-left: 0px;
    height: 50px;
    font-size: medium;
    margin-right: 0px;
  }
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
  }
  .footer .footer-list-flex {
    justify-content: center;
  }
  .statistics .para {
    max-width: 600px;
    width: auto;
    font-size: 18px;
    margin-right: 45px;
    margin-left: 11.5%;
  }
  .statistics h2 {
    width: auto;
    font-size: 30px;
    text-align: center;
  }
  .statistics .padding {
    display: flex;
    flex-direction: column;
    grid-gap: 0px;
    padding-bottom: 120px;
  }
  .statistics p {
    width: auto;
  }
  .statistics .art {
    margin-bottom: 0px;
    margin-top: 80px;
  }
  .statistics .art h3 {
    text-align: center;
  }
  .statistics .line {
    height: 627px;
    width: 5px;
    margin-left: 37.5vw;
    top: 40%;
  }
  .statistics .image {
    text-align: center;
  }
  .statistics img {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-110%, -7%);
  }
  .boost h2 {
    font-size: 5vw;
    text-align: center;
  }
  .boost button {
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
    font-size: 2.6vw;
  }
  .info {
    padding-right: 9.6vw;
    margin-right: 0px;
  }
  .copy {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .copy {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
  }
  .copy hr {
    display: block;
    background-color: #fff;
  }
  .div_info {
    margin-left: 15px;
    margin-bottom: 5px;
  }
  .short_flex {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
  }
  .short_flex #short1 {
    margin-top: 0px;
    width: 76vw;
  }
  #short {
    margin-left: 0px;
    padding-left: 0px;
    font-size: 18px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 575px) {
  .statistics img {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -7%);
  }
  .boost h2 {
    font-size: 5vw;
    text-align: center;
  }
  .boost button {
    border-radius: 40px;
    padding: 0.8vw 1vw 0.8vw 1vw;
    font-size: 2.4vw;
    width: 30vw;
    height: 38px;
  }
  .boost .margin {
    margin-left: 25%;
  }
  .more {
    margin-left: 5%;
  }
  .more button {
    font-size: 13px;
    width: 128px;
    padding-bottom: 25px;
    margin-right: 5px;
  }
  .more p {
    margin-right: 30px;
    font-size: 18px;
  }
  .shortener {
    margin-left: 9%;
    padding-bottom: 123px;
    height: 160px;
    padding-left: 0px;
    padding-top: 25px;
  }
  .shortener input {
    width: 70vw;
    padding-left: 0px;
    padding-right: 0px;
    font-size: medium;
    height: 50px;
  }
  .shortener button {
    width: 70vw;
    margin-left: 0px;
    height: 50px;
  }
  .shortener p {
    font-size: 14px;
  }
  .phone {
    width: 83%;
  }
  .phone button {
    padding: 2px 29px;
    font-size: 5vw;
  }
}
@media screen and (max-width: 400px) {
  .statistics .center .para {
    font-size: 16px;
  }
  .boost h2 {
    font-size: 5vw;
    text-align: center;
  }
  .boost button {
    border-radius: 40px;
    padding: 0.8vw 1vw 0.8vw 1vw;
    font-size: 0.9rem;
    width: 30vw;
    height: 35px;
  }
  .more {
    margin-left: 5%;
  }
  .more button {
    margin-right: 0px;
    font-size: 12px;
    width: 140px;
    padding-bottom: 24px;
  }
  .more p {
    margin-right: 20px;
  }
  .phone {
    width: 83%;
    padding-left: 20px;
    font-size: medium;
  }
  .phone button {
    padding: 2px 29px;
    font-size: 5vw;
  }
  .phone ul, .phone li {
    padding-left: 25px;
  }
  .copy {
    margin-left: -9px;
  }
}
@media screen and (max-width: 300px) {
  body {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .boost h2 {
    font-size: auto;
    text-align: center;
  }
  .boost button {
    border-radius: auto;
    padding: auto;
    font-size: auto;
    width: auto;
    height: auto;
  }
  .more {
    margin-left: 0px;
  }
  .more h1 {
    margin-right: 0px;
    font-size: 28px;
  }
  .more button {
    font-size: 9px;
    width: 110px;
    margin-right: 0px;
  }
  .more p {
    margin-right: 0px;
    font-size: 19px;
  }
  .shortener input {
    font-size: medium;
  }
  .shortener button {
    width: 68vw;
    font-size: 5vw;
    margin-left: 5px;
  }
  .statistics {
    /*  h2{
            font-size: medium;
          }

          .para{
            margin: auto;
            font-size: small;

          }*/
  }
  .phone {
    width: 76%;
    padding-left: 0px;
    font-size: 6vw;
    text-align: center;
  }
  .phone button {
    padding: 3px 15px;
    font-size: 5.9vw;
    width: 40vw;
  }
  .short_flex #short1 {
    margin-top: 0px;
    width: 68vw;
  }
}
@media screen and (max-width: 180px) {
  .boost h2 {
    font-size: 15px;
    text-align: center;
  }
  .boost button {
    border-radius: auto;
    padding: 0px 15px 0px 15px;
    font-size: 5px;
    width: auto;
    height: 29px;
    margin-left: 35%;
  }
  .boost .margin {
    margin: auto;
  }
  .statistics .center h2 {
    font-size: medium;
  }
  .statistics .center .para {
    margin: auto;
    font-size: small;
  }
  .statistics .line {
    display: none;
  }
  .statistics .art h3 {
    font-size: 12px;
  }
  .statistics .art p {
    font-size: 11px;
  }
  .more button {
    border-radius: auto;
    padding: 0px 15px 0px 15px;
    font-size: 9px;
    width: auto;
    height: 29px;
  }
  .more p {
    margin-right: 0px;
  }
  .shortener {
    margin-left: 0px;
    padding-bottom: 80px;
    position: relative;
    left: 5%;
  }
  .shortener button {
    width: 65vw;
    font-size: 5vw;
    margin-left: 40px;
    left: 0%;
  }
  .shortener input {
    width: 125px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 10px;
    height: 30px;
  }
  .shortener button {
    width: 125px;
    height: 30px;
  }
  .phone {
    width: 110%;
    padding-left: 0px;
    font-size: 6vw;
    text-align: center;
  }
  .phone button {
    padding: 3px 7px;
    font-size: 4vw;
    width: 50vw;
  }
}/*# sourceMappingURL=index.css.map */